Language:        Cpp
BasedOnStyle:    Google
IndentWidth:     4
TabWidth:        4
UseTab:          Never
ColumnLimit:     120
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: InlineOnly
DerivePointerAlignment: false       # Do not try to guess pointer alignment
PointerAlignment: Left              # Keep pointers with the type
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
SortIncludes:    false
