Checks: >
  -*,
  bugprone-* ,
  cert-* ,
  clang-analyzer-* ,
  cppcoreguidelines-* ,
  modernize-* ,
  performance-* ,
  readability-*,
  hicpp-*,
  portability-*,
  misc-unused-parameters

WarningsAsErrors: "*"

HeaderFilterRegex: "^(?!.*ext/).*"

AnalyzeTemporaryDtors: true

CheckOptions:
  - key: modernize-use-auto.MinTypeNameLength
    value: "5"
  - key: readability-magic-numbers.IgnoredValues
    value: "[0, 1, -1]"
  - key: performance-inefficient-string-concatenation.WarnOnAllOperations
    value: "true"
